[package]
name = "inference-ast"
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }

[dependencies]
tree-sitter.workspace = true
anyhow.workspace = true