name: Build & Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build and test infc
    strategy:
      matrix:
        os: [Linux, Windows]
        toolchain:
          - nightly
    runs-on: [self-hosted, X64, "${{ matrix.os }}"]
    steps:
      - name: Setup Rust
        uses: actions/checkout@v4.1.3
        with:
          lfs: true
      - name: Update Rust
        run: rustup update ${{ matrix.toolchain }}
          | rustup default ${{ matrix.toolchain }}
      - name: Install clippy nightly
        run: rustup component add clippy-preview
      - name: Install Cargo audit
        run: cargo install cargo-audit
      - name: Build
        run: cargo build --verbose
      - name: Test (excluding codegen)
        run: "cargo test --verbose --lib -- --skip codegen::"
      - name: Clippy
        run: cargo clippy --verbose -- -D warnings
      - name: Audit
        run: cargo audit

  codegen-tests:
    name: Codegen tests
    strategy:
      matrix:
        os: [Linux, Windows]
        toolchain:
          - nightly
    runs-on: [self-hosted, X64, "${{ matrix.os }}"]
    steps:
      - name: Setup Rust
        uses: actions/checkout@v4.1.3
        with:
          lfs: true
      - name: Setup Git LFS (Linux)
        if: matrix.os == 'Linux'
        run: |
          git lfs install --local
          git lfs pull
      - name: Update Rust
        run: rustup update ${{ matrix.toolchain }}
          | rustup default ${{ matrix.toolchain }}
      - name: Build
        run: cargo build --verbose
      - name: Verify vendored LLVM
        run: |
          file external/lib/linux/libLLVM.so.21.1-rust-1.94.0-nightly || true
          file target/debug/lib/libLLVM.so.21.1-rust-1.94.0-nightly || true
        if: matrix.os == 'Linux'
      - name: Test codegen
        run: "cargo test --lib --verbose codegen::"